<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/administrative}"
>
<head>
</head>
<body>

<div class="container" layout:fragment="content">

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-question-circle"></i>
            Sobre
        </div>
        <div class="card-body">
            <p>
                Este projeto terá como finalidade a criação de um sistema que possibilite medir e registrar o consumo de energia, fator de potência, possibilitando uma análise do consumo de carga dos equipamentos. Através desta análise dos dados coletados os profissionais da área terão a possibilidade de traçar estratégias para otimizar o consumo de energia e proporcionar comodidade aos usuários, facilitando a identificação do perfil de consumo e sugerindo alterações para o uso consciente e sustentável de energia.
            </p>
        </div>
        <div class="card-footer small text-muted">Atualizado em <span th:text="${#dates.format(#dates.createNow(),'dd/MM/yyyy HH:mm:ss')}"></span></div>
    </div>

</div>

</body>
</html>