<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/administrative}"
>
<head>
</head>
<body>

<div class="container" layout:fragment="content">
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right" th:text="${totalDevices}">
                        30
                    </div>
                    <div class="mr-5">Dispositivos</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        <span th:text="${#numbers.formatDecimal(averageCurrent, 0, 'COMMA', 2, 'POINT')}" >10</span> A
                    </div>
                    <div class="mr-5">Corrente</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        <span th:text="${#numbers.formatDecimal(averageVoltage, 0, 'COMMA', 2, 'POINT')}" >127</span> V
                    </div>
                    <div class="mr-5">Tensão</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        <span th:text="${#numbers.formatDecimal(averagePower, 0, 'COMMA', 2, 'POINT')}" >10</span> KW
                    </div>
                    <div class="mr-5">Potência</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>&nbsp;Consumo Mensal
        </div>
        <div class="card-body">
            <canvas id="consumeChart" width="400" height="200"></canvas>
        </div>
        <div class="card-footer small text-muted">Atualizado em <span th:text="${#dates.format(#dates.createNow(),'dd/MM/yyyy HH:mm:ss')}"></span></div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>

        function generateChartsColor( opacity ) {
            return 'rgba(' + Math.floor(Math.random() * 256) + ', '+ Math.floor(Math.random() * 256) +', '+ Math.floor(Math.random() * 256) +', ' + opacity + ')';
        }

        const colors = [
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
            generateChartsColor('0.8'),
        ];

        var ctx = document.getElementById('consumeChart').getContext('2d');
        var consumeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Janeiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                datasets: [{
                    data: [12, 19, 3, 5, 2, 3, 3, 5, 2, 3, 13],
                    backgroundColor: colors,
                    borderColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: false,
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>

</div>

</body>
</html>