<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/administrative}"
>
<head>
</head>
<body>

<div class="container" layout:fragment="content">
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        30
                    </div>
                    <div class="mr-5">Dispositivos</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        10 A
                    </div>
                    <div class="mr-5">Corrente</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        127 V
                    </div>
                    <div class="mr-5">Tensão</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon float-right">
                        <span>200 KW</span>
                    </div>
                    <div class="mr-5">Potência</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>&nbsp;Consumo Mensal
        </div>
        <div class="card-body">
            <canvas id="consumeChart" width="400" height="200"></canvas>
        </div>
        <div class="card-footer small text-muted">Atualizado em 11:59 PM</div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('consumeChart').getContext('2d');
        var consumeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Janeiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                datasets: [{
                    data: [12, 19, 3, 5, 2, 3, 3, 5, 2, 3, 13],
                    backgroundColor: [
                        'rgba(255, 0, 0, 0.8)',
                        'rgba(0, 0, 255, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                        'rgba(0, 255, 0, 0.8)',
                        'rgba(153, 102, 255, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(255, 159, 64, 0.8)'
                    ],
                    borderColor: [
                        'rgba(255, 0, 0, 1)',
                        'rgba(0, 0, 255, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(0, 255, 0, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: false,
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>

</div>

</body>
</html>